.container{
    max-width: 375px;
    min-width: 375px;
    height: 812px;
    background-color: white;
    color: black;
    padding-left: 16px;
    padding-right: 16px;
}

body{
    display: flex;
    justify-content: center;
    background-color: grey;
    margin: 0;
}

.top{
    height: 44px;
}

.s_top{
    display: flex;
    justify-content: center;
}

.photo{
    display: flex;
    justify-content: center;
}

.text_field{
    
}

.defav {
    margin-left: 50;
    margin-right: 50;
    height: 80px;
    width: 80px;
}

ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


button{
    border: none;
    background-color: white;
}

.footer{

}