.container {
 max-width: 375px;
 min-width: 375px;
 height: 812px;
 background-color: white;
 color: black;
 padding-left: 16px;
 padding-right: 16px;
}

body {
 font-family: Roboto;
 font-size: 15px;
}

.top {
 height: 44px;
 display: flex;
 justify-content: center;
}

.s_top {
 display: flex;
 height: 19px;
 margin-top: 9px;
 margin-bottom: 40px;
 justify-content: space-between;
 width: 343px;
}

.change_p_p {
 margin-left: 90px;
 font-size: 17px;
 color: #1877f2;
 width: 170px;
 margin-top: 30px;
 margin-bottom: 30px;
}

.text_field {
 height: 200px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.p_information {
 margin-top: 20px;
 margin-bottom: 4px;
}

.links_b {
 height: 38px;
padding-top: 10px;
}

input {
 height: 38px;
 margin: 0;
}

.defav {
 margin-left: auto;
 margin-right: auto;
 height: 80px;
 width: 80px;
 border-radius: 50%;
}

ul {
 list-style: none;
 margin-left: 0;
 padding-left: 0;
}
.down_li {
 padding-top: 14px;
 padding-bottom: 14px;
}

button {
 border: none;
 background-color: white;
 font-size: 15px;
 height: 18px;
 display: flex;
 justify-content: space-between;
 width: 343px;
}

.bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72px;
    margin-top: 20px;
}

a {
 color: #1877f2;
 font-size: 18px;
}