*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select {
    border: none;
    outline: none;
    background: none;
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
    padding: none;
    margin: none;
}

input, button, textarea, select {
    font: inherit;
}