/* MAIN */
.create_stories > .placeholder > img {
  transition: transform 0.3s ease
}

.create_stories:hover > .placeholder > img {
  transform: scale(1.35);
  border: none;
  animation: heartbeat 0.6s ease;
}

.actions_buttons > button {
  transition: transform 0.3s ease
}

.actions_buttons > button:hover {
  transform: scale(1.35);
  border: none;
  animation: heartbeat 0.6s ease;
}

/* .action_buttons>button {
  transition: transform 0.3s ease
}

.action_buttons>button:hover {
  transform: scale(1.35);
  border: none;
  animation: heartbeat 0.6s ease;
} */

/* .actions>button {
  transition: transform 0.3s ease
}

.actions>button:hover {
  transform: scale(1.35);
  border: none;
  animation: heartbeat 0.6s ease;
} */

.send_user_comment>button {
  transition: transform 0.3s ease
}

.send_user_comment>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}

.title_block>button {
  transition: transform 0.3s ease
}

.title_block>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}

nav>button {
  transition: transform 0.3s ease
}

nav>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}



/* PROFILE */
.profile_buttons>button {
  transition: transform 0.3s ease
}
.profile_buttons>button:hover {
  transform: scale(1.10);
  border: none;
  animation: heartbeat 0.6s ease;
}

.additional_information_profile>button {
  transition: transform 0.3s ease
}
.additional_information_profile>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}

.switching>button {
  transition: transform 0.3s ease
}
.switching>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}


header>button {
  transition: transform 0.3s ease
}
header>button:hover {
  transform: scale(1.20);
  border: none;
  animation: heartbeat 0.6s ease;
}



