@import url('../styles/reset.css');
@import url('../styles/base.css');



.leave_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main > .person {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

main > .person > img {
    border-radius: 50%;
    max-width: 89px;
    max-height: 89px;

}

main > .person > .additional_information_profile {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
main > .description {
    padding: 0 11px;
}

main > .description >* {
    font-size: 14px;
} 
main > .description > .links > a{
    color: #1877F2;
}

main > .profile_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px;
    padding-bottom: 15px;
}

.follow_button {
    background-color: #1877F2;
    color: white;
    border-radius: 5px;
    width: 145px;
    height: 25px;
}
.message_button {
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 145px;
    height: 25px;
}

.added_person_button {
    background-color: #DFDFDF;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 13px;
    overflow: scroll;
}

.history_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history_block > p {
    width: 64px;
    text-align: center;
}

.switching {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.content {
    padding: 0;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: scroll;
    height: 320px;
}
.post {
    max-width: 124px;
}